/* DEFAULT CLASSES */

.section-container {
    width: 70%;
    max-width: calc(7/10 * 1920px);
    margin: auto;
}

.centred-element {
    display: flex;
    align-items: center;
    justify-content: center;
}