/* VARIABLES */

:root {
    --light-bg-color: #eeeeee;
    --light-text-color: #0f0f0f;
    --light-border-color: #2e2e2e;

    --dark-bg-color: #202020;
    --dark-text-color: #ffffff;
    --dark-border-color: #ebebeb;
}

/* ALL ELEMENTS */

* {
    font-family: Rubik;
    
    line-height: 1;
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;

    text-decoration: none;
    appearance: none;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;  
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: .8em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* ELEMENTS */

ul, ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}